@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

main {
  height: 600px;
  width: 360px;

  @media (max-width: 500px) {
    width: 100%;
  }
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: -12px;
  margin-bottom: 8px;
}

h2 {
  font-size: 14px;
}

input {
  padding: 5px 10px;
  border-radius: 5px;
}

label {
  font-size: 14px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.checkbox {
  display: flex;
  gap: 12px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

button {
  width: 100%;
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid orange;
}

button:disabled {
  background-color: #000;
  cursor: not-allowed;
  border-color: #000;
}

.btn-secondary {
  background-color: #fff;
  color: orange;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 16px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
